html {
    scroll-behavior: smooth;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input,
select,
textarea {
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    outline: none !important;
}

a,
button {
    outline: none !important;
    box-shadow: none !important;
}

.row-col-g1 {
    margin-top: calc(-1 * 10px);
}

.row-col-g1 > [class*=col] {
    margin-top: 10px;
    padding: 0 10px;
}

.row-g1 {
    margin-top: calc(-1 * 10px);
}

.row-g1 > [class*=col] {
    margin-top: 10px;
}

.row-g2 {
    margin-top: calc(-1 * 20px);
}

.row-g2 > [class*=col] {
    margin-top: 20px;
}

.row-g3 {
    margin-top: calc(-1 * 30px);
}

.row-g3 > [class*=col] {
    margin-top: 30px;
}

.row-g4 {
    margin-top: calc(-1 * 40px);
}

.row-g4 > [class*=col] {
    margin-top: 40px;
}

.row-g5 {
    margin-top: calc(-1 * 50px);
}

.row-g5 > [class*=col] {
    margin-top: 50px;
}

.row-g6 {
    margin-top: calc(-1 * 60px);
}

.row-g6 > [class*=col] {
    margin-top: 60px;
}

.shadow-card {
    box-shadow: 0 0 14px rgb(144 151 179 / 19%) !important;
}

.transition {
    transition: var(--transition);
}

@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}

.color-primary {
    color: rgb(var(--primary-color));
}

.btn-customize {
    background-color: rgb(var(--primary-color));
    color: var(--white);
    font-size: 1em;
    letter-spacing: 0.5px;
    font-weight: 700;
    border-radius: 20px;
    height: 38px;
    padding: 0 20px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.btn-customize > i {
    font-size: .9em;
}

.btn-customize:hover {
    color: var(--white);
    background-color: rgba(var(--primary-color), .85);
    box-shadow: 0 5px 10px -4px rgb(var(--primary-color)) !important;
}

.btn-customize_outline {
    background-color: var(--white);
    border: 1px solid rgb(var(--primary-color));
    color: rgb(var(--primary-color));
}

body {
    background-color: #fff;
    color: var(--dark-color);
    font: 400 14px/1.3 'Work Sans', sans-serif;
}

.product-card {
    border-radius: 0;
    border: 0;
}

.product-card .card-header {
    position: relative;
    padding: 0;
    border: 0;
    border-radius: 0;
    padding-bottom: 100.0%;
    overflow: hidden;
}

.product-card .card-header .card-header_btn {
    position: absolute;
    bottom: -30px;
    width: calc(100% - 20px);
    left: 10px;
    right: 10px;
    transition: var(--transition);
    z-index: 3;
}

.product-card .card-header .card-header_btn > .btn-quick_view {
    width: 100%;
    height: 30px;
    text-align: center;
    color: var(--white);
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    font-size: .95em;
    line-height: 28px;
}
.product-card .card-header:hover .card-header_btn{
    bottom: 10px;
}
.product-card .card-header .card-header_btn > .btn-quick_view:hover {
    background-color: #141313;
}

.product-card .card-header > a > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.product-card .card-header > a > img.img-before,
.product-card .card-header:hover > a > img.img-after {
    opacity: 1;
    visibility: visible;
}

.product-card .card-header:hover > a > img.img-before {
    visibility: hidden;
    opacity: 1;
}

.product-card .card-body {
    padding: 10px 0;
}

.product-card .card-body .card-title {
    margin-bottom: 0;
}

.product-card .card-body .card-title > a {
    color: var(--dark-color);
    font-weight: 400;
    font-size: 1.05em;
}

.product-card .card-body .card-title > a:hover {
    color: rgb(var(--primary-color));
}

.product-card .card-body .card-price {
    margin-top: 5px;
}

.product-card .card-body .card-price > a {
    display: flex;
    align-items: flex-end;
}

.product-card .card-body .card-price .card-price_current {
    font-size: 1em;
    color: var(--dark-color);
}

.product-card .card-body .card-price .card-price_old {
    margin-left: 8px;
    font-size: .925em;
    text-decoration: line-through;
    color: var(--gray-color);
}

.product-card .card-body .card-colors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -4px;
}

.product-card .card-body .card-colors .card-color {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: block;
    margin: 0 4px 4px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1px #eaeaea;
    transition: box-shadow .2s ease;
    position: relative;
    overflow: hidden;
}

.product-card .card-body .card-colors .card-color:before {
    border: 3px solid #fff;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    content: "";
    position: absolute;
    border-radius: 50%;
}

.product-card .card-body .card-colors .card-color:hover {
    box-shadow: 0 0 0 1px var(--dark-color);
}